.bg-clearbooks {
  width: 188px;
  height: 56px;
  background: url("../../public/css_sprites.png")-10px -10px;
}
.bg-MYOB {
  width: 188px;
  height: 56px;
  background: url("../../public/css_sprites.png")-10px -86px;
}
.bg-freshbooks {
  width: 188px;
  height: 56px;
  background: url("../../public/css_sprites.png")-10px -238px;
}
.bg-QuickBooks_Desktop {
  width: 188px;
  height: 56px;
  background: url("../../public/css_sprites.png")-218px -10px;
}
.bg-QuickBooks_Online {
  width: 188px;
  height: 56px;
  background: url("../../public/css_sprites.png")-218px -86px;
}
.bg-XERO {
  width: 188px;
  height: 56px;
  background: url("../../public/css_sprites.png")-10px -162px;
}
.bg-ZohoBooks {
  width: 188px;
  height: 56px;
  background: url("../../public/css_sprites.png")-218px -162px;
}
